.root{
	-fx-background-color:  #fce49c;
}
.label{
	-fx-font-family:'STV';
	-fx-font-size:22px;
	-fx-font-weight:bold;
	}
.text-field {
	-fx-background-color:#FCF3CF;
	-fx-background-radius:30px;
	-fx-pref-height:25px;
	-fx-pref-width:250px;
	-fx-font-size:18px;
	-fx-font-family:'STV';
}
.button{
	-fx-font-weight:bold;
	-fx-background-color:#2196f3;
	-fx-background-radius:22;
	-fx-font-size:16;
	-fx-text-fill:white;	
	-fx-pref-width:200px;
}
.button:hover{
	-fx-font-weight:bold;
	-fx-background-color:white;
	-fx-background-radius:22;
	-fx-font-size:16;
	-fx-text-fill:#2196f3;
	-fx-border-color:#2196f3;
	-fx-border-radius:20;
	-fx-border-width:3;
}
.button:pressed{
	-fx-font-weight:bold;
	-fx-background-color:white;
	-fx-background-radius:22;
	-fx-font-size:16;
	-fx-text-fill:#2196f3;
	-fx-border-color:#2196f3;
	-fx-border-radius:20;
	-fx-border-width:3;
	-fx-rotate:5;
}